<section>
  <div class="container mt-3">
    <h3 style="color: #27374D;">Vouchers </h3>
    <br />
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalCenterVocher"
    >
      Add Vouchers
    </button>
    <div
      class="modal fade"
      id="exampleModalCenterVocher"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      {{! modal for Vouchers }}
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Voucher</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container">
              {{! <form method="POST" action="/admin/offers/coupon"> }}
              <form id="voucherId" onsubmit="return validateForm()">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="title" class="ml-2">Title:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        name="title"
                        id="title"
                        placeholder="Title"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="price" class="ml-2">Price:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        id="price"
                        name="price"
                        placeholder="Price"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="priceType">Price Type:</label>
                      <select
                        class="form-control"
                        id="priceType"
                        name="priceType"
                      >
                        <option value="flat">Flat</option>
                        <option value="percentage">Percentage</option>
                      </select>
                    </div>
                    
                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                     <div class="form-group">
                      <label for="minSpent">Percentage</label>
                      <input
                        type="text"
                        class="form-control"
                        name="percentage"
                        placeholder="if percentage"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="minSpent">Min Spent:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="minSpent"
                        name="minSpent"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="usageLimit">Usage Limit:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="usageLimit"
                        name="usageLimit"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8">
                    <div class="form-group">
                      <label for="voucherCode" class="ml-2">Voucher Code:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        id="voucherCode"
                        name="voucherCode"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="startTime">Start Time:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="startTime"
                        name="startTime"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="endTime">End Time:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="endTime"
                        name="endTime"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary float-right"
                      id="submitButton"
                    >Save</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary f"
              data-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    {{#if vouchers}}
      <div class="table-wrapper-scroll-y my-custom-scrollbar mt-3">

        <table class="table table-striped" id="voucherTable">
          <thead>
            <tr style="font-size: .8rem;">
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Price Type</th>
              <th scope="col">Percentage</th>
              <th scope="col">Minumum</th>
              <th scope="col">Usage Limit</th>
              <th scope="col">Voucher code</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            {{#each vouchers}}
              <tr style="font-size: .8rem;">
                <td>{{voucher.title}}</td>
                <td>{{voucher.price}}</td>
                <td>{{voucher.priceType}}</td>
                <td>{{voucher.percentage}}</td>
                <td>{{voucher.minSpent}}</td>
                <td>{{voucher.usageLimit}}</td>
                <td>{{voucher.voucherCode}}</td>
                <td>{{voucher.startTime}}</td>
                <td>{{voucher.endTime}}</td>

                <td>
                  <div class="btn-group">
                    <button
                      type="button btn-primary"
                      style="font-size: 7px;"
                      class="btn"
                      data-toggle="collapse"
                      data-target="#toggleButtons{{_id}}"
                    >

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-three-dots"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                        />
                      </svg>

                    </button>
                  </div>

                  <div id="toggleButtons{{_id}}" class="collapse">
                    
                      <button
                        type="submit"
                        class="btn-xs btn-primary"
                           data-toggle="modal"
                    data-target="#exampleModalCenterEdit"
                      >&nbspEdit&nbsp</button>
                 
                    <form
                      method="POST"
                      action="/admin/deletevoucher/{{_id}}" method="get"
                      class="d-inline"
                    >
                      <input type="hidden" name="_method" value="DELETE" />
                      <button
                        type="submit"
                        class="btn-xs btn-danger"
                        onclick="return confirm('Are you sure you want to delete?')"
                      >Delete</button>
                    </form>
                  </div>
                </td>
              </tr>


         <div
      class="modal fade"
      id="exampleModalCenterEdit"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Voucher</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container">
              <form method="POST" action="/admin/offers/editcoupon/{{_id}}"> 
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="title" class="ml-2">Title:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        name="title"
                        id="title"
                        value="{{voucher.title}}"
                        placeholder="Title"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="price" class="ml-2">Price:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        id="price"
                        name="price"
                        value="{{voucher.price}}"
                        placeholder="Price"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="priceType">Price Type:</label>
                      <select
                        class="form-control"
                        id="priceType"
                         value="{{voucher.priceType}}"
                        name="priceType"
                      >
                        <option value="flat">Flat</option>
                        <option value="percentage">Percentage</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                      <label for="minSpent">Percentage</label>
                      <input
                        type="text"
                        class="form-control"
                        name="percentage"
                        value="{{voucher.percentage}}"
                        placeholder="if percentage"
                      />
                    </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="minSpent">Min Spent:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="minSpent"
                         value="{{voucher.minSpent}}"
                        name="minSpent"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label for="usageLimit">Usage Limit:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="usageLimit"
                        name="usageLimit"
                         value="{{voucher.usageLimit}}"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8">
                    <div class="form-group">
                      <label for="voucherCode" class="ml-2">Voucher Code:</label>
                      <input
                        type="text"
                        class="form-control ml-2"
                        id="voucherCode"
                        name="voucherCode"
                         value="{{voucher.voucherCode}}"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="startTime">Start Time:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="startTime"
                        name="startTime"
                         value="{{voucher.startTime}}"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="endTime">End Time:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="endTime"
                        name="endTime"
                         value="{{voucher.endTime}}"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary float-right"
                      id="submitButton"
                    >Save</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary f"
              data-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>

            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="mt-3">
        <h5 style="color: #27374D;">No Vouchers found!</h5>
      </div>
    {{/if}}
  </div>
</section>
