<div class="container">
  <h1 style="color:slategrey ;">Edit Product</h1>
  <hr />
  <div class="row">
    {{#each product}}
      {{!-- <div class="col-md-3">
        <div class="text-center">
          <img
          style="width: 200px; hieght:250px"
            src="{{images.[0]}}"
            class="avatar img-circle"
            alt="avatar"
          />
        </div>
      </div> --}}
   <div class="col-md-3" style="width: 50px;">
    <div class="text-center">
  <div id="product-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner border">
      {{#each images}}
      <div class="carousel-item {{#isFirstIndex @index}}active{{/isFirstIndex}}">
        <a href="#" class="img-fluid">
          <img class="w-100 h-100" src="{{this}}" alt="Image">
          <span><img src="{{this}}" style="height: 20px; width: 20px;"></span>
        </a>
      </div>
      {{/each}}
    </div>
    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
      <i class="fa fa-2x fa-angle-left text-dark"></i>
    </a>
    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
      <i class="fa fa-2x fa-angle-right text-dark"></i>
    </a>
  </div>
  </div>
</div>

      <div class="col-md-9 personal-info ">
        <h3 style="color: lightslategray;" class="ml-4">Edit Products</h3>

        <form
          class="form-horizontal"
          role="form"
          action="/admin/editproducts/{{_id}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label class="col-lg-3 control-label">ProductName:</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="text"
                value="{{productName}}"
                name="productName"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Brand Name</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="text"
                value="{{productBrand}}"
                name="productBrand"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Category:</label>
            <div class="col-lg-8">
              <select class="form-control" id="category" name="category">
                <option value="{{category}}">{{category}}</option>
                {{#each category}}
                  <option value="{{categoryName}}">{{categoryName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"> Quantity</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="number"
                id="quantity"
                name="quantity"
                value="{{quantity}}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"> Buyed Price:</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="number"
                id="buyPrice"
                name="buyPrice"
                value="{{buyPrice}}"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label"> Selling Price:</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="number"
                id="sellingPrice"
                name="sellingPrice"
                value="{{sellingPrice}}"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label"> Selling Price:</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="number"
                id="offeredprice"
                name="offeredprice"
                value="{{offeredprice}}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-8">
              <input
                class="form-control"
                type="text"
                value="{{description}}"
                name="description"
              />
            </div>
          </div>

          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault"
              name="trendingProduct"
              value="{{trendingProduct}}"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault" >Add to
              trending Products</label>
          </div>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckChecked"
              name="featuredProduct"
              value="{{featuredProduct}}"
            />
            <label class="form-check-label" for="flexSwitchCheckChecked">Add to
              featured product</label>
          </div>

          <div class="form-group">
            <label for="description">Upload image:</label>
            <br />
            <input
              class="col-lg-3 control-label"
              type="file"
              name="image"
              accept="image/*"
              multiple
            />
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input
                type="submit"
                class="btn btn-primary"
                value="Save Changes"
                onclick="validateForm"
              />
              <span></span>
            </div>
          </div>
        </form>

      </div>
    {{/each}}
  </div>
</div>
<hr />

<script>
  var currentIndex = 0;
  var imgElement = document.getElementById('current-image');

  function showPrevImage() {
    if (images && images.length > 0) {
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      imgElement.src = images[currentIndex];
    }
  }

  function showNextImage() {
    if (images && images.length > 0) {
      currentIndex = (currentIndex + 1) % images.length;
      imgElement.src = images[currentIndex];
    }
  }

  // Display the first image when the page loads
  if (images && images.length > 0) {
    imgElement.src = images[currentIndex];
  }
</script>