<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="container my-1">
        <div class="card my-3 mx-3">
          <div class="card-body">
            <h2 style="color:#27374D ;">Login: <span style="font-size: 1.2rem;">{{mobileNumber}}</span></h2>
          </div>
        </div>
        <div class="card my-3 mx-3">
          <div class="card-body">
            <div class="container mx-2 my-3">
              {{#ifAny productOffer result}}

              {{#each result}}
              <h6 style="color: green;">Category Offers</h6>
              <p>{{offer.priceType}} off {{offer.maxDiscount}} on {{offer.title}}</p>
              {{/each}}
              {{#each productOffer}}
              <h6 style="color: green;">Product Offer applied</h6>
              <p> <span style="color: forestgreen;">₹{{offer.offer_price}} </span> Flat off for {{productName}} </p>
              {{/each}}
              {{else}}
              <p> <span style="color: rgb(228, 52, 43);">No offers found! </p>

              {{/ifAny}}
              {{!-- {{#ifOr result productOffer }}
              {{#if result }}
              <h6 style="color: green;">Category Offers</h6>
              {{#each result}}
              <p>{{offer.priceType}} off {{offer.maxDiscount}} on {{offer.title}}</p>
              {{/each}}
              {{/if}}
              {{#if productOffer}}
              <h6 style="color: green;">Product Offer applied</h6>
              {{#each productOffer}}
              <p> <span style="color: forestgreen;">₹{{offer.offer_price}} </span> flat off for {{productName}} </p>
              {{/each}}
              {{else}}
              <p> <span style="color: rgb(228, 52, 43);">No offers found! </p>
              {{/if}}

              {{#if offers}}
              <h6 style="color: green;">Applied Offers</h6>
              <p><span class="badge badge-warning">{{offers.offer.priceType}} off {{offers.offer.maxDiscount}} on
                  {{offers.offer.title}}</span></p>
              {{/if}}

              {{else}}
              <h6>No offers found!</h6>
              {{/ifOr}} --}}
              {{!-- {{#if productOffer}}
              <h6 style="color: green;">Product Offer applied</h6>
              {{#each productOffer}}
              <p> <span style="color: forestgreen;">₹{{offer.offer_price}} </span> flat off for {{productName}} </p>
              {{/each}}
              {{#if result}}
              <h6 style="color: green;">Category Offers</h6>
              {{#each result}}
              <p>{{offer.priceType}} off {{offer.maxDiscount}} on {{offer.title}}</p>
              {{/each}}
              {{/if}}
              {{else}}
              {{#if offers}}
              <h6 style="color: green;">Applied Offers</h6>
              <p><span class="badge badge-warning">{{offers.offer.priceType}} off {{offers.offer.maxDiscount}} on
                  {{offers.offer.title}}</span></p>
              {{else}}
              <h6>No offers found!</h6>
              {{/if}}
              {{/if}} --}}




            </div>
          </div>
        </div>

        <div class="card my-3 mx-3">
          <div class="card-body">
            <h6>Select Address</h6>

            <div class="container mx-2 my-3">
              {{#if address}}

              <div class="form-group">
                {{#each address}}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input address-checkbox" id="addressCheckbox{{@index}}"
                    value="{{@index}}" />
                  <label class="custom-control-label" for="addressCheckbox{{@index}}" value="{{@index}}">
                    {{this.name}}
                    <br />
                    {{this.pincode}}
                    <br />
                    {{this.address}}
                    <br />
                    {{this.city}}
                    <br />
                    {{this.state}}
                  </label>
                </div>
                {{/each}}

                <input type="hidden" name="selectedAddressIndex" id="selectedAddressIndex" />


              </div>

              {{else}}
              <h6>No address found!</h6>
              {{/if}}
              <br />
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentercart">
                Add new address
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container my-1">
        <div class="card-body">
          <h5 style="color: #2874f0;">Total Price</h5>
        </div>

        <div class="container my-1">
          <div class="card-body border">
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-2 WalletBalanceId">Wallet Balance:</p>
              <p class="mb-2 WalletBalanceId" id="walletBalance">₹{{wallet}}</p>
            </div>
            {{!-- <div class="form-check">
              <input type="radio" id="walletForcheckout" name="wallet" value="wallet">
              <label for="wallet" id="walletForcheckoutText">Wallet</label>
              <br>
            </div> --}}
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">₹{{amounts.totalAmountSellingPrice}}</p>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-2" id="discountId">Discount:</p>
              <p class="mb-2 text-success">{{subtract
                amounts.totalAmountSellingPrice
                amounts.totalAmountOfferedPrice
                }}</p>
            </div>
            {{#notLessThan amounts.totalAmountOfferedPrice 500}}
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-2">Delivery Fee:</p>
              <p class="mb-2 text-success"><del>₹60</del></p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold" id="totalAmountOffred"><span>₹</span>{{amounts.totalAmountOfferedPrice}}</p>
            </div>
            {{else}}
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-2">Delivery Fee:</p>
              <p class="mb-2 text-success">₹60</p>
            </div>
            {{/notLessThan}}
          </div>
        </div>

        <div class="container my-1">
          <div class="card-body">
            <button id="placeOrderButton" type="button" class="btn btn-success" data-toggle="modal"
              data-target="#exampleModalCenterPlaceOrder">
              Place Order
            </button>
            <div class="mt-2">
              <small class="mt-3" style="color: red;"><p id="walletUpadte"></p></small>
            </div>

            <div class="modal fade" id="exampleModalCenterPlaceOrder" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered position-fixed fixed-bottom" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Select the Payment Mode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check">
                      <input type="radio" id="cod" name="paymentMethod" value="COD">
                      <label for="cod">COD</label>
                      <br>
                      <input type="radio" id="razorpay" name="paymentMethod" value="Razorpay">
                      <label for="razorpay">Razorpay</label>
                      <br>
                      <input type="radio"  name="paymentMethod" value="wallet" >
                      <label for="razorpay" id="walletPayLabel">wallet</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="proceedToPaymentButton" type="button" class="btn btn-primary">Proceed To
                      Payment</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModalCentercart" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="container mt-5">
                      <h2 style="color: #2874f0;">Add Address</h2>
                      <form action="/addaddress/{{mobileNumber}}" method="post" id="myformAddressPaymentPage">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" name="name" id="name-address" required />
                          <small class="error-message" id="name-addressError" style="color:red
                  ;"></small>
                        </div>
                        <div class="form-group">
                          <label for="mobile">Mobile Number:</label>
                          <input type="tel" class="form-control" id="mobile" name="mobile" pattern="[0-9]{10}"
                            required />
                          <small class="form-text text-muted">Please enter a 10-digit mobile
                            number.</small>
                          
                        </div>
                        <div class="form-group">
                          <label for="pincode">Pincode:</label>
                          <input type="text" class="form-control" id="pincode" name="pincode" pattern="[0-9]{6}"
                            required />
                          <small class="form-text text-muted">Please enter a 6-digit
                            pincode.</small>
                        </div>
                        <div class="form-group">
                          <label for="locality">Locality:</label>
                          <input type="text" class="form-control" name="locality" id="locality" required />
                            <small class="error-message" id="locality-addressError" style="color:red
                  ;"></small>
                        </div>
                        <div class="form-group">
                          <label for="address">Address:</label>
                          <textarea class="form-control" id="address" rows="3" name="address" required></textarea>
                           <small class="error-message" id="address-addressError" style="color:red
                  ;"></small>
                        </div>
                        <div class="form-group">
                          <label for="city">City/District/Town:</label>
                          <input type="text" class="form-control" id="city" name="city" required />
                           <small class="error-message" id="city-addressError" style="color:red
                  ;"></small>
                        </div>
                        <div class="form-group">
                          <label for="state">State:</label>
                          <select class="form-control" id="state" name="state" required>
                            <option disabled selected>Select State</option>
                            <option>Andhra Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chhattisgarh</option>
                            <option>Goa</option>
                            <option>Gujarat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option>
                            <option>Uttar Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>West Bengal</option>
                            <option>Andaman and Nicobar Islands</option>
                            <option>Chandigarh</option>
                            <option>Dadra and Nagar Haveli and Daman and Diu</option>
                            <option>Delhi</option>
                            <option>Lakshadweep</option>
                            <option>Puducherry</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="landmark">Landmark:</label>
                          <input type="text" class="form-control" name="landmark" id="landmark"
                            placeholder="optional" />
                        </div>
                        <div class="form-group">
                          <label for="alternatePhone">Alternate Phone:</label>
                          <input type="tel" class="form-control" id="alternatePhone" name="alternatePhone"
                            placeholder="optional" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <script>
              $(document).ready(function () {
                $(".address-checkbox").change(function () {
                  var selectedAddressIndex = $(this).val();
                  $("#selectedAddressIndex").val(selectedAddressIndex);
                });




                $("#proceedToPaymentButton").click(function () {
                  var selectedAddressIndex = $("#selectedAddressIndex").val();
                  var paymentMethod = $("input[name='paymentMethod']:checked").val();


                  var orderData = {
                    selectedAddressIndex: selectedAddressIndex ? selectedAddressIndex : 0,
                    paymentMethod: paymentMethod
                  };


                  $.ajax({
                    url: "/paymentGate",
                    type: "POST",
                    data: orderData,
                    success: function (response) {

                      if (response.COD) {
                        location.href = "/succeess"
                      } if(response.wallet){
                       $("#walletUpadte").text("Insufficent balance on wallet");

                      }
                      else {

                        razorPayment(response.response);
                      }

                    },
                    error: function (xhr, status, error) {

                      console.error(error);
                    }
                  });


                  $('#exampleModalCenterPlaceOrder').modal('hide');
                });
              });

              function razorPayment(order) {
                var options = {
                  "key": "rzp_test_bLt7yzzH20t8v9",
                  "amount": order.amount,
                  "currency": "INR",
                  "name": "Melocia",
                  "description": "Your  Transaction Details",
                  "image": "https://example.com/your_logo",
                  "order_id": order.id,
                  "handler": function (response) {

                    verifyPayment(response, order);
                  },
                  "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                  },
                  "notes": {
                    "address": "Razorpay Corporate Office"
                  },
                  "theme": {
                    "color": "#3399cc"
                  }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
              }
              function verifyPayment(payment, order) {
                $.ajax({
                  url: '/verifypayment',
                  method: "post",
                  data: { payment, order },
                  success: function (response) {
                    console.log(response)
                    if (response.status) {
                      location.href = "/succeess"
                    }
                    else {
                      location.href = '/'
                    }

                  }
                })
              }

            </script>
         <script>
  const form = document.getElementById('myformAddressPaymentPage');
  form.addEventListener('submit', function (event) {
  // Prevent form submission
  event.preventDefault();

  // Perform form validations
  if (validateForm()) {
    // If the form is valid, submit it
    form.submit();
  }
});

  function validateForm() {
    const nameValue = document.getElementById('name-address').value.trim();
    const localityValue = document.getElementById('locality').value.trim();
    const addressValue = document.getElementById('address').value.trim();
    const cityValue = document.getElementById('city').value.trim();

    if (nameValue === '') {
      document.getElementById("name-addressError").textContent =
        "Please enter a valid  name.";
      return false;
    } else if (localityValue === '') {
      document.getElementById("locality-addressError").textContent =
        "Please enter a valid  locality";
      return false;
    } else if (addressValue === '') {
       document.getElementById("address-addressError").textContent =
        "Please enter a valid address";
      return false;
    } else if (cityValue === '') {
       document.getElementById("city-addressError").textContent =
        "Please enter a valid city";
      return false;
    } else {
      return true;
    }
  }
</script>
