

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    
{{#each products}}


<!-- Shop Detail Start -->
{{!-- <div class="zoom-overlay">
    <div class="zoom-effect overlay">
        <span><img src="/productImages/{{this}}" style="height: 100px; width: 100px;"></span>
    </div>
</div> --}}

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    {{#each images}}
                    <div class="carousel-item {{#isFirstIndex @index}}active{{/isFirstIndex}}">
                        <a href="#" class="thumbnail_img">
                            <img class="w-100 h-100 zoom" src="{{this}}" alt="Image">
                            <span><img src="{{this}}" style="height: 100px; width: 100px;"></span>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h4 class="text-dark">{{productName}}</h4>
            <div class="d-flex mb-3">
                <div class="text-secondary mr-2">
                    <h5 class="font-weight-semi-bold mb-4">{{productBrand}}</h5>
                </div>
            </div>
            <h3 class="font-weight-semi-bold mb-4">₹ {{offeredprice}} <span style="font-size: 1rem; color: #7F7F7F;"><del>₹{{sellingPrice}}</del></span> <span style="font-size: 1.3rem; color:green">{{calculatePercentage sellingPrice offeredprice}}%</span></h3>

            <h5 style="color: #3A3B3C;">{{highlights}}</h5>

            <p class="mb-4"></p>
            <div class="d-flex mb-3">
                <p class="text-dark font-weight-medium mb-0 mr-3">Offers:</p>
            </div>
            {{#if offer.product_name}}
            <div class="d-flex mb-3">
                <img style="width: 17px; height: 17px;" src="https://drive.google.com/uc?export=view&id=124eZYXcb1fTKjnFHQinDvO-Qszi0QBRy" alt="" class="mr-2">
                <p class="text-dark font-weight-medium mb-0 mr-3">get flat ₹{{offer.offer_price}}</p>
            </div>
            {{/if}}
            <div class="d-flex mb-3">
                <img style="width: 17px; height: 17px;" src="https://drive.google.com/uc?export=view&id=124eZYXcb1fTKjnFHQinDvO-Qszi0QBRy" alt="" class="mr-2">
                <p class="text-dark font-weight-medium mb-0 mr-3">Bank Offer10% Off on Axis Bank Credit Card</p>
            </div>
            <div class="d-flex mb-3">
                <img style="width: 17px; height: 17px;" src="https://drive.google.com/uc?export=view&id=124eZYXcb1fTKjnFHQinDvO-Qszi0QBRy" alt="" class="mr-2">
                <p class="text-dark font-weight-medium mb-0 mr-3">Bank OfferFlat ₹1,250 Off on ICICI Bank Credit
                    Card EMI Trxns on orders between ₹15,000 to ₹39,999</p>
            </div>
            <div class="d-flex mb-3">
                <img style="width: 17px; height: 17px;" src="https://drive.google.com/uc?export=view&id=124eZYXcb1fTKjnFHQinDvO-Qszi0QBRy" alt="" class="mr-2">
                <p class="text-dark font-weight-medium mb-0 mr-3">Bank Offer10% off on Kotak Credit Card EMI
                    Transactions, up to ₹1,500, on orders of ₹5,000 and above</p>
            </div>

            <div class="d-flex align-items-center mb-4 pt-2">
                <button class="btn btn-primary px-3 mr-2" onclick="window.location.href='/addtocart/{{_id}}'"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>{{description}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

   

   


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>