<div class="container">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="col-3 ml-5">
      <!-- Profile Card -->
      <div class="card mx-3 my-3">
        <div class="card-body">
          <h1>
            <img class="img-fluid" src="\images\profile-pic-male_4811a1.svg" alt="Profile Picture" />
            Hello
          </h1>
        </div>
      </div>
      <!-- My Accounts Card -->
      <div class="card mx-3 my-3">
        <div class="card-body">
          <a href="">My Accounts</a>
          <ul style="list-style-type: none;">
            <li>
              <a href="/myaccount/address">Address</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- My Orders Card -->
      <div class="card mx-3 my-3">
        <div class="card-body">
          <a href="/orders">My orders</a>
        </div>
      </div>
    </div>

    <!-- Right Content Area -->
    <div class="col-7">
      <ul class="list-group mx-3 my-3">
        <li class="list-group-item active text-center">Orders</li>
        {{#if orders}}
        {{#each orders}}
        <li class="list-group-item">
          <div class="card">
            <div class="row g-0">
              {{!-- <div class="col-md-4 text-center mt-3" onclick="window.location.href='/products/{{productId}}';">
                <img src="/productImages/{{productId.[0]}}.jpeg" alt="Product Image" class="card-img"
                  style="width: 100px; height: 100px;" />
              </div> --}}
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">₹{{totalPrice}}</p>
                  <p class="card-text"><span class="mr-2">Mode of payment:</span>{{paymentMode}}</p>
                  <div class="card-text text-truncate" style="max-width: 500px;">
                    {{address.name}} {{address.mobile}} {{address.pincode}} {{address.locality}}
                  </div>
                  <p class="card-text" ><span class="mr-2">Ordered date:</span>{{formatDate Date}}</p>
                  <button type="button" class="btn btn-outline ml-2 mr-2" data-toggle="modal"
                    data-target="#orderDetials">
                    View Details
                  </button>
                  {{#ifEqual status 'delivered'}}
                  <span class="badge badge-pill badge-success">{{status}}</span>

                  {{#if (isDateWithin7Days Date)}}
                  <button type="button" class="btn btn-secondary ml-2 returnBtn" data-order-id="{{_id}}">Return</button>
                  <select id="returnReason" style="display: none;" class="mt-3">
                    <option value="">Select a reason</option>
                    <option value="wrong_product">Wrong product</option>
                    <option value="damaged_defective">Damaged or defective</option>
                    <option value="arrived_late">Arrived too late</option>
                    <option value="no_longer_needed">No longer need the product</option>
                    <option value="found_better_price">Found better price</option>
               
                  </select>
  
                  {{else}}
                 <span class="badge badge-info">Return date exceeded</span>
                  {{/if}}
                  

                  {{else ifEqual status 'cancelled'}}
                  <span class="badge badge-pill badge-danger">Cancelled</span>
                  {{else ifEqual status 'returned'}}
                  <span class="badge badge-pill badge-warning">returned</span>

                  {{else}}
                
                  <span class="badge badge-pill badge-info">{{status}}</span>

                  {{!-- <button type="button" class="btn btn-outline-danger ml-2 cancelBtn"
                    data-order-id="{{_id}}">Cancel</button> --}}
                    
                  <button type="button" class="btn btn-outline-danger ml-2 cancelBtn"
                    data-order-id="{{_id}}">Cancel</button>
                    
                 
                  <select id="cancelReason{{_id}}" style="display: none;" class="mt-3">
                    <option value="">Select a reason</option>
                    <option value="item_not_available">I want to change the delivery address</option>
                    <option value="wrong_item_shipped">I was hoping for a shorter delivery address</option>
                    <option value="price changed">Price of the product has now decreased</option>
                    <option value="want different payment opption">I want to change the payment option</option>
                    <option value="change conatct details">I want to change the conatct details</option>
                    <option value="other reasons">Other reasons</option>
                    
                  </select>

                  {{/ifEqual}}

                  <div class="modal fade" id="orderDetials" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle" style="color:blue ;">Order Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="card-body">
                            <p class="card-text"><span class="mr-2">Date</span>{{Date}}</p>
                            <p class="card-text"><span class="mr-2">Order Id:</span>{{_id}}</p>
                            <p class="card-text"><span class="mr-2">Total Price:</span>₹{{totalPrice}}</p>
                            <p class="card-text"><span class="mr-2">Qunatity:</span>{{productId.[1].[0]}}</p>
                            <div class="card-text text-truncate" style="max-width: 500px;">
                              {{address.name}} {{address.mobile}} {{address.pincode}} {{address.locality}}
                            </div>
                            <p class="card-text">{{formatDate Date}}</p>

                            
                              {{#each products}}
                              <img src="/productImages/{{images.[0]}}" style="height: 100px; width: 100px;">
                              <p> <button class="btn btn-outline-success"
                              onclick="window.location.href='/products/{{_id}}';">View Product</button></p>
                             <p> {{productName}}</p>
                             <p></p>
                              {{/each}}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>






                </div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
        {{else}}
        <br>
        <br>
        
        
           <div class="container">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img class="img-fluid" src="/images/emptyOrders_f13d28.png" alt="Empty Wishlist">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center mt-3">
                <h6>You have no orders</h6>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/';">
                  Shop now
                </button>
              </div>
            </div>
          </div>
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.cancelBtn').click(function () {
      var orderId = $(this).data('order-id');
       $('#cancelReason'+orderId).show();
       $('#cancelReason'+orderId).change(function () {
        var cancelReason = $(this).val();
        if (cancelReason === '') {
          alert('Please select a cancellation reason.');
          return;
        }

        $.ajax({
          url: 'userorderstatus',
          type: 'POST',
          data: {
            order_id: orderId,
            new_status: 'cancelled',
            reason: cancelReason
          },
          success: function (response) {
            location.reload();
          },
          error: function (xhr, status, error) {
            console.log(xhr.responseText);
            alert('Error updating order status');
          }
        });
      } );
    });
  });

</script>

<script>
 $(document).ready(function () {
  
    $('.returnBtn').click(function () {
      var orderId = $(this).data('order-id');
      
      $('.returnReason').show();

      $('#returnReason').change(function () {
        var cancelReason = $(this).val();

        if (cancelReason === '') {
          alert('Please select a reason for the return.');
          return;
        }
        $.ajax({
          url: 'userorderstatusReturn',
          type: 'POST',
          data: {
            order_id: orderId,
            new_status: 'returned',
            reason: cancelReason,
          },
          success: function (response) {
            if(response.status)
            {
              location.reload();
            }
            else{
               location.reload();
              alert("date exceeded");

            }
            
          },
          error: function (xhr, status, error) {
            console.log(xhr.responseText);
            alert('Error updating order status');
          }
        });
      });
    });
  });
</script>